@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
}

body {
	font-family: 'Noto Sans', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: var(--background-color);
	color: var(--outline-color);
}
