@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
}

body {
	font-family: 'Noto Sans', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: var(--background-color);
	color: var(--outline-color);
}

/* styles to add global tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	display: block;
}

[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s ease-out;
	transform: translate(-50%, 5px);
}

[data-tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	padding: 7px;
	width: 100%;
	min-width: 8rem;
	max-width: 14rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: var(--outline-color);
	color: var(--background-color);
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2;
	transition: 0.2s ease-out;
}

[data-tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 0;
	border-top: 6px solid var(--outline-color);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: ' ';
	font-size: 0;
	line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, 0);
}
[data-tooltip='false']:hover:before,
[data-tooltip='false']:hover:after {
	visibility: hidden;
	opacity: 0;
}
